@{
    ViewBag.Title = "主界面";
}

<div class="jumbotron">
    <h1>急诊数据报表</h1>
    <p>
        @Html.ActionLink("床位预约表", "IndexSubscription", "Report", null, new { @class = "btn btn-default" })
    </p>    
</div>

<div class="jumbotron">
    <p>IE无法正常使用。请下载浏览器并安装。</p>
    <a href="~/download/44.0.2403.107_chrome_installer.exe">Chrome浏览器</a>
</div>