@{
    ViewBag.Title = "主界面";
}

<div class="jumbotron">
    <h1>急诊数据报表</h1>
    <p>
        @Html.ActionLink("床位预约表", "IndexSubscription", "Report", null, new { @class = "btn btn-default" })
    </p>
</div>