@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.Reports.StatisticsMonth.GreenPathSecond>

@foreach (var item in Model)
{
    <tr>
        <td style="padding-left:40px">
            @Html.ActionLink(item.GreenPathCategoryName, "IndexGreenPath", new { item.GreenPathCategoryId, item.Time }, new { target = "_blank" })
        </td>
        <td style="padding-left:40px">
            @Html.DisplayFor(model => item.Count)
        </td>
    </tr>

    @Html.Partial("StatisticsMonthGreenPathThird", item.List)
}