@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.Reports.StatisticsRescueRoomMonth.DestinationThird>

@foreach (var item in Model)
{
    <tr>
        <td style="padding-left:80px">
            @Html.ActionLink(item.DestinationRemarksForDisplay, "IndexRescueRoomDestination", new { item.DestinationId, item.DestinationRemarks, item.Time, item.Level }, new { target = "_blank" })
        </td>
        <td style="padding-left:80px">
            @Html.DisplayFor(model => item.Count)
        </td>
    </tr>
}