@model      EmergencyInformationSystem.Models.ViewModels.Reports.StatisticsRescueRoomGeneral.ItemInDepartmentWay

<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Rate)
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("StatisticsRescueRoomGeneralListInDepartmentWay", Model.List)
    </tbody>
</table>