@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.Reports.StatisticsRescueRoomMonth.GreenPathThird>

@foreach (var item in Model)
{
    <tr>
        <td style="padding-left:80px">
            @Html.ActionLink(item.GreenPathCategoryRemarksForDisplay, "IndexRescueRoomGreenPath", new { item.GreenPathCategoryId, item.GreenPathCategoryRemarks, item.Time, item.Level }, new { target = "_blank" })
        </td>
        <td style="padding-left:80px">
            @Html.DisplayFor(model => item.Count)
        </td>
    </tr>
}