@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.Reports.StatisticsObserveRoomMonth.DuringSecond>

@foreach (var item in Model)
{
    <tr>
        <td style="padding-left:40px">
            @Html.ActionLink(item.DuringHoursName, "IndexObserveRoomDuring", new { item.DuringHours, item.Time }, new { target = "_blank" })
        </td>
        <td style="padding-left:40px">
            @Html.DisplayFor(model => item.Count)
        </td>
    </tr>
}